html {
    background-color: rgb(58, 66, 66); 
}
.first {
    width: 80%;         
    margin: 20px auto;    
    box-sizing: border-box;
    border-radius: 8px;   
    border: 1px solid #ccc; 
    background: #46508a;    
}
.about {
    border-left: 6px solid #fff;     
    border-radius: 12px;              
    padding-left: 16px; 
    text-align: center;
    background-color: #46508a;
}