html {
    background-color: rgb(58, 66, 66); 
}
fieldset {
    width: 80%;         
    margin: 20px auto;    
    box-sizing: border-box;
    border-radius: 8px;   
    border: 1px solid #ccc; 
    background: #46508a;    
}
.about-fieldset {
    border-left: 8px solid #fff;          
    border-top-left-radius: 24px;        
    border-bottom-left-radius: 24px;        
    padding-left: 24px;   
}