html {
    background-color: rgb(58, 66, 66);
    f;
}
.article {
    text-align: center;
}
.img {
.center-img 
    display: block;
    margin: auto 450px;
    max-width: 240px; 
    height: 160px;
}
.h3 {
    text-align: center;
}
.p {
    text-align: center;
}
fieldset {
    width: 80%;         
    margin: 20px auto;    
    box-sizing: border-box;
    border-radius: 8px;   
    border: 1px solid #ccc; 
    background: #252f66;    
}